In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
df = pd.read_csv('/content/Orientation.csv',sep=",")  #read the csv file
df.tail()

          X     Y     Z Orientation
2013  10.61 -0.20 -1.35  HORIZONTAL
2014  10.58 -0.22 -1.27  HORIZONTAL
2015  10.49 -0.19 -1.24  HORIZONTAL
2016  10.38 -0.11 -1.13  HORIZONTAL
2017  10.27 -0.12 -0.95  HORIZONTAL

In [ ]:
df['Orientation'].value_counts()

HORIZONTAL    988
UP            727
DOWN          303
Name: Orientation, dtype: int64

In [ ]:
#This function will map the corresponding UP, DOWN, HORIZONTAL keyword to numerical values
def orientationToNumber(x):
  if x=='UP':
    return 1
  elif x=='DOWN':
    return 2
  else:
    return 3

df['Orientation'] = df['Orientation'].apply(orientationToNumber) #apply command will apply a function to a whole vector
df.head() #let's see the result

      X     Y     Z  Orientation
0  0.94  8.90 -1.50            2
1  1.21  9.59 -1.07            2
2  1.09  9.14 -2.36            2
3  1.03  9.12 -4.16            2
4  1.38  9.12 -6.34            2

In [ ]:
labels = np.array(df.pop('Orientation')) #extract the label column and convert it into numpy ndarray
features = np.array(df) #convert our dataframe into numpy ndarray

In [ ]:
labels

array([2, 2, 2, ..., 3, 3, 3])

In [ ]:
features

array([[ 0.94,  8.9 , -1.5 ],
       [ 1.21,  9.59, -1.07],
       [ 1.09,  9.14, -2.36],
       ...,
       [10.49, -0.19, -1.24],
       [10.38, -0.11, -1.13],
       [10.27, -0.12, -0.95]])

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.15,shuffle=True)

In [ ]:
model = SVC(gamma=0.001) #lets instanciate our model

In [ ]:
model.fit(train_features, train_labels) #we train our model

SVC(gamma=0.001)

In [ ]:
print("Accuracy for the model : {} %".format(100*round(model.score(test_features,test_labels),2))) #we verify the accuracy of our model

Accuracy for the model : 100.0 %

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [ ]:
neigh.fit(train_features, train_labels)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
predicted = neigh.predict(test_features)

In [ ]:
print("Accuracy for the model : {} %".format(100*round(neigh.score(test_features,predicted),2))) #we verify the accuracy of our model

Accuracy for the model : 100.0 %

In [ ]:
!pip install micromlgen

Collecting micromlgen
  Downloading micromlgen-1.1.28.tar.gz (12 kB)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from micromlgen) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->micromlgen) (2.0.1)
Building wheels for collected packages: micromlgen
  Building wheel for micromlgen (setup.py) ... done
  Created wheel for micromlgen: filename=micromlgen-1.1.28-py3-none-any.whl size=32172 sha256=258c996f40c05e319e388aeb7396ec490e61dbe0914b439095f0b13ff7234ce4
  Stored in directory: /root/.cache/pip/wheels/6f/98/43/0860b692737af546b9262a8b60ec3690c8bdc51c25e545ae09
Successfully built micromlgen
Installing collected packages: micromlgen
Successfully installed micromlgen-1.1.28

In [ ]:
from micromlgen import port

In [ ]:
LABELS = ['UP','DOWN','HORIZONTAL'] #our existing labels
classMap = {} #create an empty dict
for i, label in zip(range(3),LABELS): #interate over the range and the labels at the same time 
  classMap[i]=label #fill our dict

print(classMap)

{0: 'UP', 1: 'DOWN', 2: 'HORIZONTAL'}

In [ ]:
c_code = port(model,classmap=classMap) #convert our model

#Let's write it into a .h file
modelFile = open("model.h", "w")
modelFile.write(c_code)
modelFile.close()

#Let's print the size of the .h file
import os
model_h_size = os.path.getsize("model.h")
print(f"Header file, model.h, is {model_h_size:,} bytes.")
print("\nOpen the side panel (refresh if needed). Double click model.h to download the file.")

Header file, model.h, is 11,981 bytes.

Open the side panel (refresh if needed). Double click model.h to download the file.